/** styles/modules/awd_style.css */
html{
	overflow: hidden;
}
body{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: rgb(247,251,252);
	background: -moz-linear-gradient(top, rgba(247,251,252,1) 0%, rgba(217,237,242,1) 60%, rgba(173,217,228,1) 100%);
	background: -webkit-linear-gradient(top, rgba(247,251,252,1) 0%,rgba(217,237,242,1) 60%,rgba(173,217,228,1) 100%);
	background: linear-gradient(to bottom, rgba(247,251,252,1) 0%,rgba(217,237,242,1) 60%,rgba(173,217,228,1) 100%);
	color: #a35252;
	font-size: 1.2rem; 				
}
body div.agent-string{
	width: 20rem;
	height: fit-content;
	top: 50%;
	left: calc(50% - 10rem);
	padding: 0.5em;
	z-index: 5;
	background: #f8f6e8;
	border:1px solid #666666;
}
.wrap.container{
	width: inherit;
	height: inherit;
	flex-flow: column nowrap;
}
.wrap main p::first-letter{
	font-size: 1.4em;
}

@media (min-width: 320px) and (max-width: 647px) and (orientation : portrait) {
	body{
		height:93vh;
	}
	body div.agent-string{
		width: 16rem;
		left:calc(50% - 8rem);
		display: none;
	}
	.wrap footer{
		display: relative;
		height: 2.6rem;
	}	
	.wrap footer .block-two{
		padding-top: 0.9em;
	}
	/* SECTION TOP -> SEPARATOR */
	section.top > .separator{
		height: 0.1em;
	}
	/* SECTION TOP -> HEADER */
	section.top > header{
		padding: 0.5rem 0.2rem 0.2rem;
	}
	/* SECTION TOP -> NAVIGATION */
	section.top > nav.main-menu{
		left: 0.5rem;
		padding: 0.2rem 0 0.5rem;
		width: calc(100% - 1.0rem);
	}
	details.page-tab .details-content{
		left: 1.0rem;
		max-height: calc(93vh - 10.0rem);
		overflow-y: auto;
	}
	section.top div.top-block div.page-tabs{
		transform: translate(0,-5px);
	}


}
@media (min-width: 480px) and (max-width: 780px) and (orientation : landscape) {
	body{
		height: 87vh;
	}
	body div.agent-string{
		top:calc(100% - 6.0rem);
		left:calc(50% - 14rem);
		width: 28.0rem;
		height: 5.0rem;
		display: none;
		
	}
	.wrap footer{
		display: relative;
		height: 2.6rem;
	}	
	.wrap footer .block-one{
		height: inherit;
	}
	.wrap footer .block-two{
		height: inherit;
		padding-top: 0.9em;
	}
	/* SECTION TOP -> SEPARATOR */
	section.top > .separator{
		height: 0.1em;
	}
	/* SECTION TOP -> HEADER */
	section.top > header{
		padding: 0.5em 0.2em 0.2em;
	}
	/* SECTION TOP -> NAVIGATION */
	section.top > nav.main-menu{
		left: 0.5em;
		padding: 0.2em 0 0.5em;
		width: calc(100% - 2.0em);
	}
}